<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Progress Classes</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand">
            <p class="brand-name">Progress Classes</p>
        </div>
        <ul class="navbar-list">
            <li>
                <a class="nav-link" href="/">Home</a>
            </li>
            <li>
                <a class="nav-link" href="/course">Course</a>
            </li>
            <li>
                <a class="nav-link" href="/faculty">Faculty</a>
            </li>
            <li>
                <a class="nav-link" href="/enquiry">Enquiry</a>
            </li>
        </ul>
    </nav>